Flask==2.3.2
python-dotenv==1.0.0
PyPDF2==3.0.1
python-docx==0.8.11
pdfminer.six
pdfplumber
markdown
bs4
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Flask-Migrate==4.0.4
python-decouple==3.8
bcrypt==4.0.1
email-validator==2.0.0.post2

stripe==5.5.0
requests==2.31.0
python-dotenv==1.0.0
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Flask-Migrate==4.0.4
python-decouple==3.8
bcrypt==4.0.1
email-validator==2.0.0.post2